:root[--theme="yuuko-best-girl"] {
  --bg-color: rgb(30, 31, 36);
  --font-color: rgb(220, 225, 230);
  --font-detail-color: rgb(173, 173, 173);

  --link-color-hover: rgb(112, 119, 126);
  --header-bg-color: rgb(22, 25, 26);

  --games-bg-color-hover: var(--header-bg-color);
  --games-unavailable-font-color: var(--link-color-hover);

  /**
   * PAGES
   */

  /**
   * install-or-launch.vue
   */
  --install-or-launch-color-hover: rgb(22, 149, 233);
  --install-or-launch-error-bg-color: rgba(112, 16, 16, 0.5);
  --install-or-launch-bg-color: var(--header-bg-color);
}
