.button {
  cursor: pointer;
  display: inline;
  user-select: none;
  padding: 6px 10px;
  background-color: var(--font-color);
  color: var(--bg-color);
  transition: var(--anim-dur) var(--anim-timing-func);

  &:hover {
    // background-color: var(--link-color-hover);
    color: var(--font-color);
    background-color: var(--bg-color);
  }
}
